:root {
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

body {
  padding: 3.2rem;
  font-size: 1.5rem;
}

p {
  color: var(--grayish-blue);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 6rem;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--very-dark-blue);
}

h1 span {
  font-weight: 200;
}

header p {
  max-width: 500px;
}

main {
  display: grid;
  justify-content: center;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 294px;
  max-width: 320px;
  height: 224px;
  padding: 30px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 20px 0px var(--grayish-blue);
}

.card-color-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}

.card-color-item.cyan {
  background-color: var(--cyan);
}

.card-color-item.red {
  background-color: var(--red);
}

.card-color-item.orange {
  background-color: var(--orange);
}

.card-color-item.blue {
  background-color: var(--blue);
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 72px;
}

.card-text h3 {
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.card-text p {
  font-size: 1.3rem;
}

.card img {
  width: 60px;
  align-self: end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}
